@font-face {
  font-family: titleFont;
  src: url(fonts/title-font.woff);
}

@font-face {
  font-family: textFont;
  src: url(fonts/text-font.woff);
}

* {
  cursor: default;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  background-image: url("./background-images/page-background.jpg");
}

h1 {
  color: white;
  cursor: default;
  font: 5rem titleFont;
  padding-top: 3%;
  position: relative;
  text-align: center;
}

#main-container {
  display: grid;
  grid-gap: .7%;
  grid-template-columns: 1fr auto 1fr;
}

#game-container {
  position: relative;
}

canvas {
  border-radius: 15px;
  display: block;
  margin: 5% auto;
  z-index: 0;
}

#result-container {
  animation: bounce-results 3s linear infinite;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute; 
  right: 0;
  z-index: 1;
}

.hide-screen {
  visibility: hidden;
}

#results {
  color: white;
  font: 5rem textFont;
  padding-top: 10%;
  text-align: center;
}

#points {
  color: white;
  font: 2rem textFont;
  padding-top: 10%;
  text-align: center;
}

.button {
  background-color: transparent;
  border: none;
  color: rgb(104, 104, 104);
  cursor: pointer;
  font: 3.5rem textFont;
  left: 0;
  margin: 10% auto;
  position: absolute;
  right: 0;
}

.button:hover, #leader-board:hover {
  color: rgb(157, 232, 255);
}

.hide-button {
  visibility: hidden;
}

.sidebar-title {
  font-size: 1.9rem;
  padding-bottom: 15px;
  padding-top: 15px;
}

#selection-container {
  color: rgb(255, 255, 255);
  font:1rem textFont;
  padding-left: 18%;
  padding-top: 80px;
  text-align: center;
  width: 65%;
}

#projectile-options {
  padding-bottom: 15px;
}

.projectile-container {
  display: grid;
  grid-template-columns: 50px auto;
  padding: 10px 14%;
}

.projectile-container p:hover {
  color:rgb(135, 208, 233);
}

#sound-icons {
  column-gap: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 15px;
}

.selected-projectile {
  color:rgb(135, 208, 233);
}

#leaderboard-button {
  background: none;
  border: none;
  color: white;
  font: 1.9rem textFont;
}

#leaderboard-container {
  animation: bounce-results 3s linear infinite;
  background-color: rgb(156, 169, 179);
  border-radius: 50px;
  color: white;
  font: 1.5rem textFont;
  height: 0%;
  left: 0;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  position: absolute; 
  right: 0;
  width: 60%;
  z-index: 1;
}

#leaderboard-table-title {
  font-size: 3rem;
  padding-bottom: 5%;
  text-align: center;
}

th, td {
  padding-left: 40px;
  padding-right: 50px;
  text-align: center;
}

#leaderboard-button:hover {
  color:rgb(135, 208, 233);
}

#mission-container {
  background-color: rgba(135, 155, 168, 0.37);
  border: double rgb(157, 232, 255);
  border-radius: 25px;
  color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  font: 1.2rem textFont;
  margin: 110px 12% auto 10%;
  padding: 20px;
}

.mission-log-title {
  align-items: center;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  padding-bottom: 2%;
}

.mission-log-title span{
  color: rgb(157, 232, 255);
  font-size: 1rem;
}

#mission-description {
  padding-top: 3%;
}

@keyframes bounce-results {
  0% {top: 6%;}
  50% {top: 0%;}
  100% {top: 6%}
}

@media only screen and (max-width: 1700px) {
  #selection-container, #mission-container {
    font-size: .8rem;
  }

  .sidebar-title {
    font-size: 1.5rem;
  }

  .mission-log-title {
    font-size: 1.5rem;
  }
  
  .mission-log-title span{
    font-size: .7rem;
  }

  #leaderboard-button {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1300px) {

  h1 {
    font-size: 4rem;
  }

  .sidebar-title {
    font-size: 1.2rem;
  }

  .projectile-container img{
    height: 20px;
    justify-content: center;
  }

  .mission-log-title {
    font-size: 1.2rem;
  }
  
  .mission-log-title span{
    font-size: .7rem;
    visibility: hidden;
  }

  #leaderboard-button {
    font-size: 1.2rem;
  }
}